body {
    background-color: lightgreen;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 100px;
}
h2{
    color:blueviolet;
    text-align: center;
    font-size: 80px;
}

.biography{

    font-size: 30px;
    font-style: italic;
}

h3{
    color:blueviolet;
    text-align: center;
    font-size: 80px;
}
.background {
    
    font-size:30px;
    font-style: italic;
}
h4{
    color:blueviolet;
    text-align: center;
    font-size: 80px;
}
.goal {
    font-size:30px;
    font-style: italic;
}